/* styles/BottomNav.module.css */
.bottomNav {
    position: fixed;
    padding: 10px;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #365B6D;
    color: #fff;
    transform: translateY(100%);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
  }

  .iconAndMenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }


  .menuLinks {
    font-size: 14px;
    cursor: pointer;
    color: #fff;
    margin-left: 7px;
  }

  .menuLinks:hover {
    color: #fff;
  }
  
  .visible {
    transform: translateY(0);
  }
  

  @media (max-width: 767px) {
    .menuLinks {
      font-size: 10px;
      cursor: pointer;
      color: #fff;
      margin-left: 2px;
    }
    .iconAndMenu {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      align-self: center;
    }
  }

  @media (min-width: 767px) {
    .scrollTo {
      display: none;
    }
  }

  .scrollTo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  