.customCursor {
    position: fixed;
    pointer-events: none;
    /* width: 30px;
    height: 30px; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    /* color: #ffffff; */
    user-select: none;
    z-index: 9999;
  }
  
  .clickableArea {
    position: absolute;
    top: -10px; /* Adjust this value to position the clickable area at the top tip */
    left: -10px; /* Adjust this value to position the clickable area at the top tip */
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin: 0;
    z-index: 1; /* Ensure the clickable area is above other elements in the cursor */
  }

  @media (max-width: 767px) {
    .customCursor {
      display: none;
    }
  }
  