
.scrollToTopButton {
    position: sticky;
    bottom: 20px;
    left: 20px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
  }
  
  .scrollToTopButton.visible {
    opacity: 1;
    visibility: visible;
  }
  