
/* styles/Home.module.css */
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: "auto";
    max-width:"100%";
    overflow:"hidden";
    overflow-x: scroll;
    padding-left: 100;
    z-index: 1000;
  }
  
  .personContainer {
    text-align: center;
  }
  
  .circularImage {
    width: 170px;
    height: 170px;
    overflow: hidden;
    border-radius: 0%;
    margin-bottom: 10px;
    position: relative;
  }
  
  .image {
    object-fit: cover;
    border-radius: 0%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  