  .bookpage {
    width: 100%; 
    margin: 20px auto; 
    padding: 20px; 
    background-color: #fff; 
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    position: relative; 
    border-radius: 5px; 
  }
  
  
  